<?xml version="1.0" encoding="UTF-8"?>
<web-app 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
id="WebApp_ID" 
version="3.0">
  
  <servlet>
  	<servlet-name>creationClient</servlet-name>
  	<servlet-class>com.servlets.CreationClient</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>creationCommande</servlet-name>
  	<servlet-class>com.servlets.CreationCommande</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>afficherClients</servlet-name>
  	<servlet-class>com.servlets.AfficherClients</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>afficherCommandes</servlet-name>
  	<servlet-class>com.servlets.AfficherCommandes</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>creationClient</servlet-name>
  	<url-pattern>/creationClient</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>creationCommande</servlet-name>
  	<url-pattern>/creationCommande</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>afficherClients</servlet-name>
  	<url-pattern>/afficherClients</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>afficherCommandes</servlet-name>
  	<url-pattern>/afficherCommandes</url-pattern>
  </servlet-mapping>
  
  <jsp-config>
  	<jsp-property-group>
  		<url-pattern>*.jsp</url-pattern>
  		<include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
  	</jsp-property-group>
  </jsp-config>
</web-app>
